* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
      height: 600px;
      margin: 0 auto;
      width: 1200px;
  }
  
  .wraper {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 36px;
    color: blue;
    text-align: center;
    padding: 20px 0px;
  }

  .textarea{
    height: 222px;
    width: 722px;
    margin: 10px auto;  
 }

 .keyboard{
    height:251px;
    width: 715px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: grey;
    padding: 5px;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0 auto;
}

.description, .language{
    margin: 10px auto;
    text-align: center; 
  }